<h1>This page displays all the Users </h1>


 <% @users.each do |user| %>
    First Name : <%= user.fname %><br>
    Last Name : <%= user.lname %><br>
    Email Address : <%= user.email %><br><br>

 <% end %>
